div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

table {
  border-spacing: 12px;
  border-radius: 0px 0px 5px 5px;
  background-color: rgb(4, 4, 62);
  width: 100%;
}

input[type="text"] {
  width: 100%;
  background-color: darkblue;
  color: white;
  border: 0px solid black;
  height: 3vh;
  font-size: 16px;
  text-align: right;
  padding-right: 0.5vw;
}

#ip {
  padding-top: 1vh;
  border-radius: 5px 5px 0px 0px;
}

#op {
  padding-bottom: 9vh;
}

input[type="button"] {
  border: 0px solid black;
  color: lightgrey;
  background: none;
  font-size: 18px;
}

input[type="button"]:hover {
  cursor: pointer;
}

#calc {
  width: 8.55vw;
  margin-top: 10vh;
}
